{% extends "layout.html" %}

{% block content %}
<div class="grid-100">
    <ul class="minerals__container">
        {% for mineral in minerals %}
        <li class="minerals__item">
            <a class="minerals__anchor" href="{% url 'mineral_detail' mineral.pk %}">{{ mineral.first_name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="grid-100">
    <div class="pagination">
        <div class="current">
            Page {{ minerals.number }} of {{ minerals.paginator.num_pages }}
        </div>
        <div class="step-links">
        {% if minerals.has_previous %}
            <a href="?page=1">&laquo;</a>
            <a href="?page={{ minerals.previous_page_number }}">&lsaquo;</a>
        {% endif %}
        {% if minerals.has_next %}
            <a href="?page={{ minerals.next_page_number }}">&rsaquo;</a>
            <a href="?page={{ minerals.paginator.num_pages }}">&raquo;</a>
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}